*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
}
#one{
  background-color: #0C325A;
  background-image: url(../img/oldman.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 105% 105%;
}

.container{
  width: 85%;
  margin: 0 auto;
}

.nav{
  /* height: 50px; */
}
.nav::after{
  content: "";
  display: table;
  clear: both;
}
.header-nav.left{
  float: left;
}
.header-nav ul{
  list-style: none;
  line-height: 50px;
}

.header-nav ul li{
  display: inline-block;
  padding: 15px 10px;
}
.header-nav li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}
li a img{
  vertical-align: top;
}
.header-nav.left ul li:first-child{
  padding-left: 0;
  padding-right: 60px;
}
.header-nav.right{
  float: right;
}
.button{
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
.button.green{
  background-color: #7CBB02;
}
li:hover .button.green{
  background-color: green;
}
.button.blu{
  background-color: #0E325A;
  border: 1px solid white;
  padding-left: 25px;
  padding-right: 25px;
}
li:hover .button.blu{
  background-color: rgb(24, 0, 78);
}
.header-title{
  height: 400px;
  position: relative;
}
.position{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 30%;
}
.position h1{
  color: white;
  font-size: 35px;
  line-height: 50px;
}
.position a{
  display: inline-block;
  margin-top: 25px;
  background-color: #7CBB02;
  font-size: 15px;
  padding: 20px;
}
.position a:hover{
  background-color: green;
}
.intro{
  height: 150px;
  background-color: #D3D3D3;
  position: relative;
}
.center{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 40px;
}
.center p{
  color: #808080;
}
.main-top{
  width: 85%;
  margin: 0 auto;
  margin-bottom: 40px;
}
.main-top::after{
  content: "";
  display: table;
  clear: both;
}
.box{
  float: left;
  width: 20%;
  text-align: center;
  padding-top: 40px;
}
.box.cent{
  margin-left: 20%;
  margin-right: 20%;
}

.main-top img{
  height: 140px;
  padding-bottom: 20px;
}
.main-top hr{
  display: inline-block;
  width: 50px;
  text-align: center;
}
.box h3{
  color: #7CBB02;
  padding-bottom: 20px;
}
.box p{
  color: #808080;
  padding-top: 20px;
  font-weight: bold;
}
.inter{
  margin: 0 10px;
}
.main-bottom{
  width: 85%;
  margin: 0 auto;
}
.main-bottom:after{
  content: "";
  display: table;
  clear: both;
}

.main-img-left{
  width: 50%;
  float: left;
}
.main-img-left img{
  width: 450px;
}
.main-bottom-right{
  width: 25%;
  float: left;
  margin-top: 30px;
}
.main-bottom-right h2{
  line-height: 35px;
  padding-bottom: 10px;
}
.main-bottom-right p{
  color: #808080;
  margin-bottom: 20px;
  line-height: 22px;
  font-weight: bold;
}
.main-bottom-right a{
  color: #5586BC;
}
.main-bottom-right a:hover{
  color: blue;
}
.footer{
  height: 150px;
  width: 100%;
  background-color: #D3D3D3;
}
.footer-left{
  display: inline-block;
  width: 50%;
  height: 100%;
  position: relative;
}
.footer-left h2{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.footer-right{
  display: inline-block;
  width: 50%;
  height: 100%;
  position: relative;
}
.pos{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer-right p{
  display: inline;
  color: #808080;
  padding-right: 20px;
}
.footer-right select{
  border: none;
  width: 120px;
  background-color: #D3D3D3;
  color: #808080;
  border-bottom: 1px solid #808080;
  cursor: pointer;
}

.footer-right .button.footer-1{
  background-color: #7CBB02;
  margin-left: 20px;
  padding: 15px;
}
.button.footer-1:hover{
  background-color: green;
}
.footer-right .footer-2{
  background-color: #7CBB02;
}
.footer-2 {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  color: white;
  border-radius: 3px;
  text-transform: uppercase;
}
.footer-2:hover{
  background-color: green;
}
.button-end{
  position: absolute;
  bottom: 0;
  left: 38%;
}
